## Candidate: {{ candidate_name }}
- Description: {{ candidate_description }}
{% if existing_tools_hint %}
{{ existing_tools_hint }}
{% endif %}
{% if target_details %}
{{ target_details }}
{% endif %}